/*This file mostly controls the visually look of the game.
Some properties like position and size get set by the game
Feel free to play with things like color or font
*/

html,

body {
  background-color: #000000;
  background: radial-gradient(ellipse at right 34% bottom 5%, #33202a, #000000 80%, #000000);
  background-position: left;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  color: #f5f4f6;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #f5f4f6;
}

body::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, black, black 2px, transparent, transparent 4px);
  pointer-events: none;
}

body::before {
  content: "";
  position: absolute;
  z-index: 1000;
  opacity: 0.1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at right 34% bottom 5%, transparent 80%, #000000);
  pointer-events: none;
  background-image: url("glitch.gif");
  background-size: cover;
}

#game {
  background-image: url("background.jpg");
  border: 5px solid black;
  align-items: center;
  position: relative;
  background-size: cover;
}

#left-paddle {
  background-color: rgb(253, 143, 100);
  left: 10px;
  height: 25px;
}

#right-paddle {
  background-color: rgb(255, 0, 0);
  right: 10px;
}

#instructions {
  color: white;
  bottom: 0;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}

#errors-debug {
  display: none;
  bottom: 0;
  position: absolute;
  margin: 10px;
  padding-left: 400px;
  font-family: Arial, Helvetica, sans-serif;
}

#errors {
  color: red;
  font-weight: 700;
}

#computer-control-state {
  font-weight: 700;
}

#mouse-control-state {
  font-weight: 700;
}

#mute-state {
  font-weight: 700;
}

#volume-state {
  font-weight: 700;
}

.paddle {
  top: 0;
  width: 10px;
  position: absolute;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  position: absolute;
  left: 50px;
  top: 50px;
}

.score {
  color: white;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
}

#left-score {
  left: 1%;
}

#right-score {
  right: 1%;
}
